body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
    padding: 0;
    margin: 0;
    background: #f1fcfa;
    /*background: rgb(102,155,188);
    background: linear-gradient(0deg, rgba(102,155,188,1) 0%, rgba(0,48,73,1) 100%);*/
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align:center;
    margin:auto;
    margin-top: 5%;
    margin-bottom: 10%;
    width: 30%;
    height: 80%;
    padding: 50px 50px;
    background-color: #ffffff;
    border-radius: 1%;
    -moz-box-shadow: 0 0 7px rgb(200, 200, 200);
    -webkit-box-shadow: 0 0 7px rgb(200, 200, 200);
    box-shadow: 0 0 7px rgb(200, 200, 200);
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    color:rgb(67, 2, 2);
}

.all{
    display: flex;
    align-content: center;
    margin: 0;
    background: #f1fcfa;
    position: relative;
    min-height: 100vh;
}

.titles {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#edit_buttons {
    padding-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer {
    margin:0;
    font-family: 'Courier New', Courier, monospace;
    border-top: 2px solid black;
    background-color: #00304a;
    display: flex;
    justify-content: center;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.info-box {
    font-size: 14px;
}

hr {
    width: 90%;
}

input {
    text-align: center;
}

.button1 {
    font-family: 'Trebuchet MS';
    border-radius: 16px;
    padding: 7px 17px;
    margin: 3px 0px;
    
    background-color: #8dd9b8;
    border: transparent;
    border: 1px solid black;
    position: relative;
}
.button1 {
  transition: all 0.3s;
}

.button1:hover {
    background-color: #62d1a1;
    transform: scale(1.1);
    /*transform: rotate(360deg);*/

}

.button2 {
    font-family: 'Trebuchet MS';
    border-radius: 12px;
    padding: 3% 4%;
    margin: 1% 0%;
    background-color: #8dd9b8;
    border: transparent;
    border: 1px solid black;
    transition: all 0.4s;
}


.button2:hover {
    background-color: #62d1a1;
    transform: scale(1.1);
}

.button3 {
    font-family: 'Trebuchet MS';
    border-radius: 10px;
    padding: 1% 2%;
    margin: 1% 0%;
    background-color: #8dd9b8;
    border: transparent;
    border: 1px solid black;
    transition: all 0.4s;
}


.button3:hover {
    background-color: #62d1a1;
    transform: scale(1.1);
}


#display_goals{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 15px;
    
}

.goal{
    display: flex;
    align-items: center;
    background-color: #d5ece2;
    margin: 1.2%;
    border-radius: 10px;
    border: 1px solid black;
    cursor: pointer;
    -moz-box-shadow: 0 0 7px rgb(200, 200, 200);
    -webkit-box-shadow: 0 0 7px rgb(200, 200, 200);
    box-shadow: 0 0 7px rgb(200, 200, 200);


}

.view{
    padding: 1.1% 0;
    margin: 0;
    width: 8.8%;
    float: left;
    transition: all 0.5s;
}

.goal:hover > .view {
    transform: scale(1.3);
}

.name{
    padding: 1.1% 0;
    margin: 0;
    border-right: 1px solid black;
    border-left: 1px solid black;
    float: left;
    width: 65%;
}

.date{
    padding: 1.1% 0;
    margin: 0px;
    margin-left: 5px;
    width: 23%;
    float: right;
    overflow: hidden;
}

.set_section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 3%;
}


.option_box{
    margin-left: 3%;
    margin-right: 3%;
}


.edit_button {
    float: right;
}

.target_info {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    width:100%;
    font-size: 17px;
    padding-top: 10px;
    
}

.smart_display {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
    
}

.smart_text {
    font-size: 15px;
    width:80%;
}

.smart_display:hover {
    border: 3px solid black;
}

.smart_letter {
    font-size: 50px;
    width: 10%;
}

.list-division {
    opacity: 50%;
    width: 80%;
}

.add_target_section {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

input:invalid {
    border: 1.5px solid red;
}

input:valid {
    border: 2px solid green;
}